@model FiboParty.Src.Dto.LedgerDto
@inject FiboParty.Infrastructure.Repository.IPartyRepository _repo;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalDr=0;
    decimal totalCr=0;
}
@using FiboInfraStructure;
<form asp-action="Update" asp-controller="PartyLedger" method="post" class="needs-validation" novalidate>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.PartiesType)
    @Html.HiddenFor(x => x.PartyId)
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <label for="Name">Name<span style="color:red">*</span></label><br />
                    <select asp-for="PartyId" asp-items="Model.PartyList" class="select2 custom-select form-control" autocomplete="off" disabled="disabled"></select>
                    <div class="invalid-feedback">
                        Please Enter A Name.
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="Address">Address<span style="color:red">*</span></label><br />
                    <input type="text" asp-for="Address" class="form-control" id="Address" autocomplete="off" required readonly />
                    <div class="invalid-feedback">
                        Please Enter A Address.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="BalancedAmount">Balanced Amount<span style="color:red">*</span></label><br />
                    <input type="text" asp-for="BalanceAmount" class="form-control" id="BalancedAmount" autocomplete="off" required readonly />
                    <div class="invalid-feedback">
                        Please Enter A Amount.
                    </div>
                </div>
            </div>
            <hr />

            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table">
                        <thead>
                            @*<tr>
                                <td colspan="6">
                                    <a class="btn  btn-success btnPlus" type="button" style="color:white"><i class="feather icon-plus-circle"></i>Add Row</a>
                                </td>
                            </tr>*@
                            <tr style="background-color: #4CAF50; color: white; height: 2px; line-height: 2px; text-align: center">

                                <th style="width:10%">Date</th>
                                <th style="width:10%">Bill Number</th>
                                <th style="width:10%">Debit Amount</th>
                                <th style="width:10%">Credit Amount</th>
                                <th style="width:10%">Remarks</th>
                                <th style="width:10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            @if (Model.LedgerDetailDtos.Count() > 0)
                            {
                                for (int k = 0; k < Model.LedgerDetailDtos.Count(); k++)
                                {
                                    @Html.HiddenFor(x => x.LedgerDetailDtos[k].LedgerId)
                                    @Html.HiddenFor(x => x.LedgerDetailDtos[k].CreatedBy)
                                    @Html.HiddenFor(x => x.LedgerDetailDtos[k].CreatedDate)
                                    totalDr += Model.LedgerDetailDtos[k].DebitAmount.ToDecimal();
                                    totalCr += Model.LedgerDetailDtos[k].CreditAmount.ToDecimal();
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(x => x.LedgerDetailDtos[k].Date, new { @class = "form-control nepali-datepicker" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.LedgerDetailDtos[k].BillNo, new { @class = "form-control StartTicketNumber" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.LedgerDetailDtos[k].DebitAmount, new { @class = "form-control Debit", @onkeyup = "Amount(this,event)" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.LedgerDetailDtos[k].CreditAmount, new { @class = "form-control Credit", @onkeyup = "Amount(this,event)" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.LedgerDetailDtos[k].Remarks, new { @class = "form-control Rate" })
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }

                            }
                            <tr>
                                <td colspan="2" style="text-align:right">
                                    <label>Total</label>
                                </td>
                                <td colspan="1">
                                    <input type="text" asp-for="Debit" class="form-control" readonly />
                                </td>
                                <td colspan="1">
                                    <input type="text" asp-for="Credit" class="form-control" readonly />
                                </td>
                                <td colspan="2">
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <div class="col-md-12" style="text-align:right">
                        <button type="submit" class="btn btn-success" id="btnSubmit"><i class="feather mr-2 icon-check-square"></i>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@section Scripts
{
    @*<script type="text/javascript">
        $(document).ready(function () {
            function newRow() {
                var count = $('.listrow').length;
                var row =
                    '<tr class="listrow">' +
                    '<td style="width:8%"><input type="text" name="LedgerDetailDtos[' + count + '].Date" class="form-control nepali-datepicker" style="height:30px;width:100%" /></td>' +
                    '<td style="width:8%"><input type="text" name="LedgerDetailDtos[' + count + '].BillNo" class="form-control" style="height:30px;width:100%" /></td>' +
                    '<td style="width:8%"><input type="text" name="LedgerDetailDtos[' + count + '].DebitAmount"  class="form-control Debit" style="height:30px;width:100%" onkeyup="Amount(this,event)" /></td>' +
                    '<td style="width:8%"><input type="text" name="LedgerDetailDtos[' + count + '].CreditAmount"  class="form-control Credit" style="height:30px;width:100%" onkeyup="Amount(this,event)" /></td>' +
                    '<td style="width:8%"><input type="text" name="LedgerDetailDtos[' + count + '].Remarks" class="form-control" style="height:30px;width:100%" /></td>' +

                    '<td style="text-align:center"><a href="#!" class="BtnMinus  btn-icon btn-sm btn-danger " value="x" > <i class="icon feather icon-trash-2 "> </i></td>' +
                    '</tr>'


                $("#table").append(row);
                var mainInput = document.getElementsByClassName("nepali-datepicker");

                /* Initialize Datepicker with options */
                mainInput.nepaliDatePicker({
                    language: "english",
                    ndpYear: true,
                    ndpMonth: true,
                    ndpYearCount: 10
                });

            }
            $("#table").on("click", ".btnPlus", newRow);

            function deleteRow() {
                var par = $(this).parent().parent();
                par.remove();
            };

            $("#table").on("click", ".BtnMinus", deleteRow);
        })


    </script>*@

    <script type="text/javascript">
        $(document).on('invalid-form.validate', 'form', function () {
            var button = $(this).find(':submit');
            setTimeout(function () {
                button.removeAttr('disabled');
            }, 1);
        });
        $(document).on('submit', 'form', function () {
            var button = $(this).find(':submit');
            setTimeout(function () {
                button.attr('disabled', 'disabled');
            }, 0);
        });
        $(document).ready(function () {
            $("#Debit").val(@totalDr);
            $("#Credit").val(@totalCr);
            tooamount($("#Debit").val(), $("#Credit").val());
        });
        function Amount(element, event) {
            var totalDrAmount = 0;
            $('.Debit').each(function () {
                var amount = $(this).val();
                var amt = parseFloat(amount);
                totalDrAmount += amt;
            });
            if (totalDrAmount > 0) {
                $("#Debit").val(totalDrAmount);
            }

            var totalCrAmount = 0;
            $('.Credit').each(function () {
                var amount = $(this).val();
                var amt = parseFloat(amount);
                totalCrAmount += amt;
            });
            if (totalCrAmount > 0) {
                $("#Credit").val(totalCrAmount);
            }
            tooamount($("#Debit").val(), $("#Credit").val());

        }
        function tooamount(tdr ,tcr ) {
            var totalAmount = 0;
            if (tdr > tcr) {
                totalAmount = tdr - tcr;
            }
            else {
                totalAmount = tcr - tdr;
            }

            if (totalAmount > 0) {
                $("#BalancedAmount").val(totalAmount);
            }
            else if (totalAmount == 0) {
                $("#BalancedAmount").val(0);
            }
        }

    </script>
}

