@model Payroll.Src.ViewModel.SalarySheetViewModel
@{

}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            Year<br />
                            <select asp-for="YearId" asp-items="Model.YearList" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div class="tableFixHead">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align:center">
                                <h3>Monthly Report of City Center</h3>
                                <h4>Birtamode:8 Jhapa, Nepal</h4>
                                <hr />
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-striped">
                        <thead style="background-color: #FFFFFFCC;">
                            <tr>
                                <th>SN</th>
                                <th>Month</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MonthList)
                            {
                                <tr>
                                    <td class="month">
                                        @item.MonthOrder
                                    </td>
                                    <td>
                                        @item.MonthName
                                    </td>
                                    <td style="font-size:large">

                                        <a type="button" class="btnRedirect">
                                            <i class="ti-eye" data-toggle="tooltip" title="View"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
         $(document).ready(function () {
            $(function () {
                LoadYear();
            });
        });
         function LoadYear() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("LoadFiscalYear", "Billing")',
                error: function () {

                },
                success: function (yearId) {
                    $("#YearId").val(yearId);
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(".btnRedirect").on('click', function (event) {
            debugger;
            var monthNo = $(this).closest('tr').find('.month').text();
            var yearId = $('#YearId').val();

            var url = "/SalarySheet/@Model.ActionName?id=" + @Model.EmployeeId+"-" + yearId + "-" + monthNo;
                window.location.href = url;
        });
        $(document).ready(function () {


            $("#btnRedirect").click(function () {
                debugger;
                var monthNo = $('#month').text();
                var yearId = $('#YearId').val();

                var url = "/SalarySheet/@Model.ActionName?id=" + @Model.EmployeeId+"-" + yearId + "-" + monthNo;
                window.location.href = url;
            });
        });

    </script>

}
