@model FiboOffice.Src.ViewModel.OfficeViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index"; }

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div style="text-align:left">
                <a class="btn btn-success" type="button" asp-action="Create" asp-controller="Office"><i class="ti-plus"></i>Create New</a>
            </div>
            <hr />
            <div class="table-responsive">
                <div class="tableFixHead">
                    <table class="table table-bordered">
                        <thead style="background-color: #20c997;">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Email Address
                                </th>
                                <th>
                                    PAN Number
                                </th>
                                <th>
                                    Fax
                                </th>
                                <th>
                                    OfficeLogo
                                </th>
                                <th style="text-align:center">
                                    Action Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Offices)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.PhoneNo
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.PANNo
                                    </td>
                                    <td>
                                        @item.FAX
                                    </td>
                                    <td>
                                        @item.OfficeLogo
                                    </td>
                                    <td style="text-align:center">
                                        <div class="btn-group-sm">
                                            <a type="button" class="btn btn-secondary" asp-action="Update" asp-controller="Office" asp-route-id="@item.Id">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a type="button" class="btn btn-danger BtnMinus" href="#!" value="x" data-toggle="modal" OfficeId="@item.Id" data-target="#myModal"><i class="ti-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" id="DeleteBody">

        <!-- /.modal-content -->
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts
    {
    <script type="text/javascript">
            $("#myModal").on('show.bs.modal', function (ke
            ) {
                const officeId = $(ke.relatedTarget).attr('OfficeId');

                var url = '@Url.Action("Delete", "Office")' + "?Id=" + officeId;
                if (officeId > 0) {
                $("#DeleteBody").load(url, function () {

                    $("#myModal").modal('show');
                });
            }
            else {
                $("#myModal").modal('hide');
            }
        })
    </script>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    'use strict';
    $(window).on('load', function () {
        function notify(message,type) {
            $.growl({
                message: message
            }, {
                type: type,
                allow_dismiss: false,
                label: 'Cancel',
                className: 'btn-xs btn-inverse',
                placement: {from: 'top', align: 'right'},
                delay: 2500,
                animate: { enter: 'animated rotateIn', exit: 'animated rotateIn'},
                offset: {x: 30,y: 30}
            });
        };
        notify('@ViewBag.Message','success');
    });

    </script>
}

@if (ViewBag.Messege != null)
{
    <script type="text/javascript">
    'use strict';
    $(window).on('load', function () {
        function notify(messege,type) {
            $.growl({
                message: messege
            }, {
                type: type,
                allow_dismiss: false,
                label: 'Cancel',
                className: 'btn-xs btn-inverse',
                placement: {from: 'top', align: 'right'},
                delay: 2500,
                animate: { enter: 'animated rotateIn', exit: 'animated rotateIn'},
                offset: {x: 30,y: 30}
            });
        };
        notify('@ViewBag.Messege','danger');
    });

    </script>
}